table {
    margin: 0 auto;
}

input[type=button] {
    width: 100%;
    background-color: rgb(157, 157, 241);
    border-color: #000;
    border-radius: 10px;
    color: #fff;
}

input[type="text"] {
    border-radius: 10px;
    text-align: right;
    background-color:black;
    color: white;
    border-color: white;
}